@charset "UTF-8";

#membership #membershipOptions,#membership #membershipOptions_real{
	background-image:url('/pt/images/pricing_bg_us.gif');
	background-repeat: no-repeat;
	margin: 10px 0 0 5px;
	height:289px;
	width:900px;
}

#membership #membershipOptions_real{
	background-image:url('/pt/images/pricing_bg_br.gif');
}


#membership #membershipOptions_other{
	background-image:url('/pt/images/pricing_bg_other.gif');
	background-repeat: no-repeat;
	margin: 10px 0 0 5px;
	height:299px;
	width:900px;
}

#membership #card_activation a, #membership #card_activation, #mem_cards #card_activation a, #mem_cards #card_activation  {
	width:187px;
	height:55px;
	position:relative;
	z-index:999;
	float: right;
	background-image:url('/pt/images/card_activation.gif');
	background-position:0pt 0px;
	background-repeat:no-repeat;
	display:block;
}

#membership #card_activation a:hover, #mem_cards #card_activation a:hover {
background-position:0pt -55px;
}

#membership #membership-cards-container{
	width:126px;
	height:79px;
	float: left;
	margin-bottom:7px;
	display:block;
	}

#membership #mem_cards_txt{
	width:202px; /* was 240 rpk */
	height:79px;
	float: left;
	margin-left: 8px; /* was 20 rpk */
	display:block;
	font-size: 13px;
}	

#membership #mem_cards_txt_uk{
	width:250px;
	height:79px;
	float: left;
	margin-left: 13px;
	display:block;
	font-size: 13px;
}

#membership #store_logos{
	width:126px;
	height:79px;
	float: left;
	margin-left: 10px; /* was 10 rpk */
	display:block;
}


#membership #membership-slider-container{
	position:relative;
	margin:0 auto 0 auto;
	padding:0 0 0 0px;
	width:835px;
	height:430px;
	border:none;
	outline:none;
}


#membership #membership-slider {
	border:none;
	outline:none;
}

#membership #online{
	width:662px; /* was 676 rpk */
	float:right;
	margin-top: 0px;
	margin-right: 26px; /* was 26 rpk */
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 18px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#membership #currencyBackground{
background-image:url('/pt/images/currentCurrency.gif');
float:right;
width:172px;
height:79px;
margin-right:76px; /* was 52, then 62 rpk */
margin-top: 3px;
}


#membership #currencyBackground .cbinner{
margin:45px auto 0px; width: 172px; text-align: center; z-index: 1;
font-size: 12px;
}



/*.dropdown2 {float:left; margin: 15px 0 0 641px; position:absolute;}*/
.dropdown2 {
	float:left;
	position:absolute;
	margin-top: 18px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 626px;
}

.dropdown2 dt {width:136px; height:25px; padding: 8px; padding: 6px 0 0 36px; font-weight:bold; cursor:pointer; background:url('/pt/images/header.gif')}
.dropdown2 dt:hover {background:url('/pt/images/header.gif')}
.dropdown2 dd {position:absolute; overflow:hidden; width:161px; margin-left:6px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown2 ul {width:157px; border:2px solid #badeff; list-style:none; border-top:none}
.dropdown2 li {display:inline;}
/* note that line below also exists in ie7.css and ie.css */
.dropdown2 a, .dropdown a:active, .dropdown a:visited {display:block; padding:8px 5px 8px 5px; color:#00529b; text-decoration:none; font-size:11px; background:#deeefe; width:147px}
/* note that line above also exists in ie7.css and ie.css */
.dropdown2 a:hover {background:#cfe7ff; color:#00529b}
.dropdown2 .underline {border-bottom:1px solid #badeff; vertical-align:middle; }
.dropdown2 .underline img {float: left; vertical-align:middle; }
#one-ddheader, #two-ddheader { color:#00529b;}


#membership #retail{
background-image:url('/pt/images/mem_cards_bg.gif');
background-position: center left; 
background-repeat: no-repeat;
margin:22px 0 0 215px; /* was 22 0 0 180 rpk */
width:583px; /* was 643 rpk */
height:88px;
padding:15px 6px 0;
float:left;
}

#membership #cards_flash{
	width:126px;
	height:79px;
	float: left;
	margin-bottom:7px;
	display:block;
	}



/**
 * MEMBERSHIP PACKAGE OPTIONS
 *
 * Start off by defining the general info & background positioning.
 */
#membership-package-options,
#membership-package-alt-options {
	display: block;
}

#membership-package-options .pkg-1-month A,
#membership-package-alt-options .pkg-1-month A {
	background-position: 0pt 0px;
	background-repeat: no-repeat;
	display: block;
	height: 82px;
	float: left;
	width: 126px;
}

#membership-package-options .pkg-1-month A:hover,
#membership-package-alt-options .pkg-1-month A:hover {
	background-position: 0pt -82px;
}

/* Special limited time offer - may be removed in the future 
#membership-package-options .pkg-3-month A {
	width: 126px;
	height: 82px;
	float: left;
	background-position: 0pt 0px;
	background-repeat: no-repeat;
	display: block;
} */

/* Special limited time offer - may be removed in the future
#membership-package-options .pkg-3-month A:hover {
	background-position: 0pt -82px;
} */

#membership-package-options .pkg-6-month A,
#membership-package-alt-options .pkg-6-month A {
	background-position: -102pt 0px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 82px;
	width: 126px;
}

#membership-package-options .pkg-6-month A:hover,
#membership-package-alt-options .pkg-6-month A:hover {
	background-position: -102pt -82px;
}

#membership-package-options .pkg-12-month A,
#membership-package-alt-options .pkg-12-month A {
	background-position: -204pt 0px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 82px;
	width: 126px;
}

#membership-package-options .pkg-12-month A:hover,
#membership-package-alt-options .pkg-12-month A:hover {
	background-position: -204pt -82px;
}

/* Currency specific background images: */
/* ARS */
#membership-package-options.ars DIV A {
	background-image: url('/pt/images/membership/packages/package_ars.gif');
}

/* AUD */
#membership-package-options.aud DIV A {
	background-image: url('/pt/images/membership/packages/package_aud.gif');
}

/* BRL */
#membership-package-options.brl DIV A {
	background-image: url('/pt/images/membership/packages/package_brl.gif');
}

/* Boleto */
#membership-package-alt-options.bol DIV A,
#membership-package-options.bol DIV A {
	background-image: url('/pt/images/membership/packages/package_bol.gif');
}

/* Boleto - very special, very specific */
#membership-package-options.bol {
	padding-left: 136px; /* width that a package would take up */
}

/* CDN */
#membership-package-options.cad DIV A {
	background-image: url('/pt/images/membership/packages/package_cad.gif');
}

/* CLP */
#membership-package-options.clp DIV A {
	background-image: url('/pt/images/membership/packages/package_clp.gif');
}

/* DKK */
#membership-package-options.dkk DIV A {
	background-image: url('/pt/images/membership/packages/package_dkk.gif');
}

/* EUR */
#membership-package-options.eur DIV A {
	background-image: url('/pt/images/membership/packages/package_eur.gif');
}

/* GBP */
#membership-package-options.gbp DIV A {
	background-image: url('/pt/images/membership/packages/package_gbp.gif');
}

/* MYR */
#membership-package-options.myr DIV A {
	background-image: url('/pt/images/membership/packages/package_myr.gif');
}

/* MXN */
#membership-package-options.mxn DIV A {
	background-image: url('/pt/images/membership/packages/package_mxn.gif');
}

/* NOK */
#membership-package-options.nok DIV A {
	background-image: url('/pt/images/membership/packages/package_nok.gif');
}

/* NZD */
#membership-package-options.nzd DIV A {
	background-image: url('/pt/images/membership/packages/package_nz.gif');
}

/* PHP */
#membership-package-options.php DIV A {
	background-image: url('/pt/images/membership/packages/package_php.gif');
}

/* SEK */
#membership-package-options.sek DIV A {
	background-image: url('/pt/images/membership/packages/package_sek.gif');
}

/* SGD */
#membership-package-options.sgd DIV A {
	background-image: url('/pt/images/membership/packages/package_sgd.gif');
}

/* USD */
#membership-package-options.usd DIV A {
	background-image: url('/pt/images/membership/packages/package_us.gif');
}

/* New currencies should follow a similar format */


/* For the 3 month special promotion, a separate image/sprite was created:
#membership-package-options.ars .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_ars_3.gif');
}

#membership-package-options.aud .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_aud_3.gif');
}

#membership-package-options.brl .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_brl_3.gif');
}

#membership-package-options.clp .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_clp_3.gif');
}

#membership-package-options.cdn .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_cad_3.gif');
}

#membership-package-options.eur .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_eur_3.gif');
}

#membership-package-options.gbp .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_gbp_3.gif');
}

#membership-package-options.nzd .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_nz_3.gif');
}

#membership-package-options.mxn .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_mxn_3.gif');
}

#membership-package-options.usd .pkg-3-month A {
	background-image: url('../../images/membership/packages/package_us_3.gif');
} */


/* Selected plan type */
#membership-package-options.confirm .pkg-1-month A,
#membership-package-options.confirm .pkg-6-month A,
#membership-package-options.confirm .pkg-12-month A {
}

#membership-package-options.confirm .selected,
#membership-package-alt-options.confirm .selected {
	background: url('/pt/images/membership/packages/selected_pkg_highlight.gif') no-repeat 0 0;
	display: block;
	float: left;
	height: 112px;
	margin: -25px -5px 0; /* to offset the extra dimensions required for the background image */
	overflow: visible;
	width: 136px !important;
}

#membership-package-options.confirm .selected A,
#membership-package-alt-options.confirm .selected A {
	margin: 25px 5px 5px;
}

/* Spacers */
#membership .package_spacer {
	width: 7px;
	height: 82px;
	float: left;
	display: block;
}

#form .package_spacer {
	width: 10px;
	height: 82px;
	float: left;
	display: block;
}

/* Confirmation page: special styling */
#confirm_package {
	background: url('/pt/images/membership/packages/selected_pkg_bg.gif') no-repeat 0 5px;
	float: right;
	height: 215px;
	margin: 0;
	padding: 0;
	width: 410px;
}

#confirm_package H5 {
}

#confirm_package #membership-package-options.confirm {
	margin: 40px 0 0 5px;
}

/* Misc */
#form #membership_info {
	float: left; 
	width: 235px; 
	background-image: url('/pt/images/membership/membership_info_bg.gif');
	height: 269px; 
	margin: 37px 0 0 35px;	
}

#membership_info #plan-1-month {
	background-position: 0pt 0px;
}

#membership_info #plan-6-month {
	background-position: -102pt 0px;
}

#membership_info #plan-12-month {
	background-position: -204pt 0px;
}	

#membership_info .selected-plan {
	background-repeat: no-repeat;
	height: 82px;
	left: 54px;
	position: relative;
	top: 66px;
	width: 126px;
}

/* Currency specific background images: */
/* ARS */
#membership_info .selected-plan.ars {
	background-image: url('/pt/images/membership/packages/package_ars.gif');
}

/* AUD */
#membership_info .selected-plan.aud {
	background-image: url('/pt/images/membership/packages/package_aud.gif');
}

/* BRL */
#membership_info .selected-plan.brl {
	background-image: url('/pt/images/membership/packages/package_brl.gif');
}

/* Boleto */
#membership_info .selected-plan.bol {
	background-image: url('/pt/images/membership/packages/package_bol.gif');
}

/* CDN */
#membership_info .selected-plan.cad {
	background-image: url('/pt/images/membership/packages/package_cad.gif');
}

/* CLP */
#membership_info .selected-plan.clp {
	background-image: url('/pt/images/membership/packages/package_clp.gif');
}

/* EUR */
#membership_info .selected-plan.eur {
	background-image: url('/pt/images/membership/packages/package_eur.gif');
}

/* GBP */
#membership_info .selected-plan.gbp {
	background-image: url('/pt/images/membership/packages/package_gbp.gif');
}

/* MXN */
#membership_info .selected-plan.mxn {
	background-image: url('/pt/images/membership/packages/package_mxn.gif');
}

/* NZD */
#membership_info .selected-plan.nzd {
	background-image: url('/pt/images/membership/packages/package_nz.gif');
}

/* USD */
#membership_info .selected-plan.usd {
	background-image: url('/pt/images/membership/packages/package_us.gif');
}


/* Extra Form stuff to fix oddities */
#form .formRow_new {
	height: 30px;
}
